mono = Consolas, 'Liberation Mono', Menlo, Courier, monospace
helvetica = 'Helvetica Neue', Helvetica, Arial, sans-serif
js-yellow = #f5da55
react-blue = #00d8ff
black = #333

// Use with inputs / buttons you don't want users to interact with
uninteractive()
  user-select none
  pointer-events none
  cursor not-allowed
