mono = Consolas, 'Liberation Mono', Menlo, Courier, monospace
helvetica = 'Helvetica Neue', Helvetica, Arial, sans-serif
lato = Lato, helvetica
black = #333

// Muahahaha, not really pink
pink = #24bbd6

light-blue = #e7edfa

// Use with inputs / buttons you don't want users to interact with
uninteractive()
  user-select none
  pointer-events none
  cursor not-allowed
