@require '../lib/vars.styl'

*
  box-sizing border-box

body
  font-family helvetica
  color darken(white, 10%)
  font-size 18px

.App
  background black
  min-width 320px
  padding 20px
  text-align center

  img
    display inline-block
    width 80px
    height 80px

    +below(420px)
      display block
      margin 0 auto

